@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root{
    --default-blue-color: #01579B;
    --default-blue-yellow: #fff200;
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* background-image: url(../images/NoiseBG.png); */
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100vh;
    overflow: hidden;
}

.navBar{
    background-image: url('./Images/NoiseBG.png');
    background-color: var(--default-blue-color);
    height: 100%;
    width: 25%;
}

.navBar .iconContext{
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.navBar .navList{
    background-color: rgba(255, 0, 0, 0);
    margin-bottom: 20px;
    padding-left: 20px;
}

.navBar .navList .listItem{
    font-family: 'Alegreya Sans', sans-serif;
    background-color: rgba(188, 143, 143, 0);
    padding: 12px 0 12px 0;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    transition: .1s;

    display: flex;
    justify-content: left;
    align-content: center;

    padding-left: 5%;

    font-size: 17px;
}
.navBar .navList .listItem i{
    margin-right: 15px;
}

.navBar .navList .listItem:hover{
    background-color: white;
    font-weight: bold;
    color: black;
}

.navBar .navList .activeList{
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    color: black;
}


.contentBar{
    background-image: url('./Images/NoiseBG.png');
    background-color: rgba(134, 94, 94, 0);
    width: 75%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}